{{ form_start(form) }}
    <h3>Choose your drug from this list : </h3>
    {{ form_row(form.drug, {'label':'My drug :'}) }}
    <h3>How much : </h3>
    {{ form_row(form.morning, {'label':'The morning :'}) }}
    {{ form_row(form.noon, {'label':'The noon :'}) }}
    {{ form_row(form.evening, {'label':'The evening :'}) }}
    <h3>Date of the end : </h3>
{{ form_row(form.start) }}
    <button class="btn">{{ button_label|default('Save') }}</button>
    <a href="{{ path('patient_index') }}">I'm done</a>
{{ form_end(form) }}
