{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}
    <h1 class="h3 mb-3 title cen">Register</h1>
<div class="container">
    <div class="row">
        <div class="col align-self-center">
            <div class="d-flex mini">
                <div class="w-50">
                    {{ form_start(registrationForm) }}
                    <div class="form-group">
                        {{ form_row(registrationForm.email, {'attr': {'class':'form-control'}}) }}
                    </div>
                    <div class="form-group">
                        {{ form_row(registrationForm.plainPassword, {
                            label: 'Password',
                            'attr': {'class':'form-control'}
                        }) }}
                    </div>
                    <div class="form-group">
                        {{ form_row(registrationForm.name, {'attr': {'class':'form-control'}}) }}
                    </div>
                    <div class="form-group">
                        {{ form_row(registrationForm.lastname, {'attr': {'class':'form-control'}}) }}
                    </div>
                    <div class="form-group">
                        {{ form_row(registrationForm.gender, {'attr': {'class':'form-control'}}) }}
                    </div>
                    <div class="form-group">
                        {{ form_row(registrationForm.birth_date, {'attr': {'class':'form-control'}}) }}
                    </div>
                    <div class="form-check">
                        {{ form_row(registrationForm.agreeTerms, {'attr': {'class':'form-check-label'}}) }}
                    </div>

                    <button type="submit" class="btn bt-color">Register</button>
                    {{ form_end(registrationForm) }}
                </div>
            </div>

        </div>
    </div>
</div>




{% endblock %}
