{% extends 'base.html.twig' %}

{% block title %}Personal Space{% endblock %}

{% block body %}
    <table>
        <tr>
            <td>Name : </td>
            <td>{{ app.user.name }}</td>
        </tr>
        <tr>
            <td>LastName :</td>
            <td>{{ app.user.lastname }}</td>
        </tr>
        <tr>
            <td>Email :</td>
            <td>{{ app.user.email }}</td>
        </tr>
        <tr>
            <td>Gender :</td>
            <td>{{ app.user.gender }}</td>
        </tr>
        {# L'id c'est juste pour voir qui il me récupère par rapport au treatment, a enlever quand les routes
        seront terminées #}
        <tr>
            <td>ID : </td>
            <td>{{ app.user.id }}</td>
        </tr>
    </table>

    <a href="{{ path('patient_edit', {'id': app.user.id}) }}">Modifier</a>

  <h3>My Treatment</h3>#}


       <a href="{{ path('treatment_new', {id: app.user.id}) }}">Create my treatment</a>#}

{% endblock %}
