{% extends 'base.html.twig' %}

{% block title %}Personal Space{% endblock %}

{% block body %}
    <div class="titrE">
        <h1 class="title">My Personal information </h1>
        <a class="persoA" href="{{ path('patient_edit', {'id': app.user.id}) }}">Edit</a>
    </div>

    <div class="mini">
        <table class="table table-borderless">
            <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Lastname</th>
                <th scope="col">Email</th>
                <th scope="col">Gender</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td scope="row">{{ app.user.name }}</td>
                <td>{{ app.user.lastname }}</td>
                <td>{{ app.user.email }}</td>
                <td>{{ app.user.gender }}</td>
            </tr>
            </tbody>
        </table>
    </div>
<div class="espace">

        <h1 class="mb-3 title">My Treatment</h1>

    {% if hasTreatment == false %}
        <p class="blabla">You have'nt configured your treatment</p>
        <a class="btn bt-viol" href="{{ path('treatment_new', {id: app.user.id}) }}">Create my treatment</a>
    {% else %}
        <ul>
        {% for recurrence in treatment.recurrences %}
        <li><p>{{ recurrence.drug.name }}</p></li>
        {% endfor %}
        </ul>
    {% endif %}
</div>

{% endblock %}
