{{ form_start(form) }}
<div class="form-group">
    {{ form_row(form.email, {'attr': {'class':'form-control'}}) }}
</div>
<div class="form-group">
    {{ form_row(form.password, {'attr': {'class':'form-control'}}) }}
</div>
<div class="form-group">
    {{ form_row(form.name, {'attr': {'class':'form-control'}}) }}
</div>
<div class="form-group">
    {{ form_row(form.lastname, {'attr': {'class':'form-control'}}) }}
</div>
<div class="form-group">
    {{ form_row(form.gender, {'attr': {'class':'form-control'}}) }}
</div>
<div class="form-group">
    {{ form_row(form.birthdate, {'attr': {'class':'form-control'}}) }}
</div>
    <button class="btn bt-color">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
